@model IMDB_Final.ViewModels.MovieDierctors

@{
    ViewBag.Title = "EditMovie";
    Layout = "~/Views/Shared/_AdminHomeLayout.cshtml";
}

<h2>EditMovie</h2>

@using (Html.BeginForm("EditMovie", "AdminMovie", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Movie.MovieId)

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.MovieName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.MovieName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Movie.MovieName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Like, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.Like, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Movie.Like, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Dislike, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.Dislike, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Movie.Dislike, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.DirectorId, "DirectorId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Movie.DirectorId, new SelectList(Model.Directors, "DirectorId", "FirstName"), "Select Dierctor", new { @class = "form-control", type = "number", })
                @Html.ValidationMessageFor(model => model.Movie.DirectorId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Movie.DirectorId, "DirectorId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(x => x.Actor.ActorId, new SelectList(Model.Actors, "ActorId", "FirstName"), "Select Dierctor",new { @class = "form-control" })*@
                @Html.ListBoxFor(m => m.Actorss, new MultiSelectList(Model.Actors, "ActorId", "FirstName"), new { @class = "control-label col-md-2", id = "MultiCheck", multiple = "multiple" })

                @Html.ValidationMessageFor(model => model.Movie.DirectorId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="file" name="file" type="file" class="text-danger" />
                @Html.ValidationMessageFor(model => model.Movie.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{

    <link href="~/Scripts/chosen_v1.8.7/chosen.min.css" rel="stylesheet" />
    <script src="~/Scripts/chosen_v1.8.7/chosen.jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/chosen_v1.8.7/chosen.jquery.min.js" type="text/javascript"></script>
    <script>
        $(function () {

            $("#MultiCheck").chosen({width:"100%"})

            });


    </script>


}