<!DOCTYPE html>

<html>
<head>


</head>
<body>


    @RenderPage("_Header1.cshtml")

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    @RenderPage("_Footer.cshtml")





</body>
</html>
