@model IMDB_Final.ViewModels.MovieDierctors

@{
    ViewBag.Title = "DirectorDetails";
    Layout = "~/Views/Shared/_AdminHomeLayout.cshtml";
}

<h2>DirectorDetails</h2>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Director.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.FirstName)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.Age)
        </dd>
        <dd>
            <h6>Movies Preduced</h6>
            @foreach (var record in Model.Movies)
            {
                <ui>
                    <li>
                        @Html.ActionLink(record.MovieName, "DetailsMovie", new { controller = "AdminMovie", id = record.MovieId })
                    </li>
                </ui>
            }

        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit")
    @Html.ActionLink("Back to List", "Index")
</p>
